@import "/src/styles/hero.css";
@import "/src/styles/gallery.css";
@import "/src/styles/footer.css";

body {
    font-family: 'Rubik', sans-serif;
}


@font-face {
    font-family: 'Jolly Lodger';
    src: url('/src/assets/jolly-lodger-cyrillic.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



h1, h2, h3 {
    font-family: 'Jolly Lodger', sans-serif;
}

